<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.freeboard02.domain.board.BoardMapper">
    <select id="findAll" resultType="boardentity">
        SELECT *
        FROM free_board_mybatis.board
        WHERE 1=1
        <if test="searchType == 'ALL' || searchType == 'CONTENTS'">
            AND contents like CONCAT('%', #{target}, '%')
        </if>
        <if test="searchType == 'ALL' || searchType == 'TITLE'">
            AND title like CONCAT('%', #{target}, '%')
        </if>
        <if test="searchType != 'ALL' and  searchType != 'CONTENTS' and searchType != 'TITLE'">
            AND 1=0
        </if>
        ORDER BY createdAt DESC
        LIMIT #{start}, #{pageSize}
    </select>

    <select id="findAllBoardEntity" resultType="boardentity">
        SELECT *
        FROM free_board_mybatis.board
    </select>

    <select id="findById" resultType="boardentity">
        SELECT *
        FROM free_board_mybatis.board
        WHERE id = #{id}
    </select>

    <insert id="save" parameterType="boardentity" keyProperty="id" keyColumn="id">
        INSERT INTO free_board_mybatis.board (createdAt, updatedAt, contents, title, writerId)
        VALUES (NOW(), NOW(), #{contents}, #{title}, #{writer.id})
        <selectKey resultType="Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <update id="updateById" parameterType="boardentity">
        UPDATE free_board_mybatis.board
        SET updatedAt = NOW(),
            contents = #{contents},
            title = #{title}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM free_board_mybatis.board
        WHERE id = #{id}
    </delete>
</mapper>
