<script id="writeModal" type="text/x-handlebars-template">
    <div class="modal fade" id="boardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Writer:</label>
                            <input type="text" class="form-control" id="user" disabled="disabled" value="\{{this}}" required />
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Title:</label>
                            <textarea class="form-control" id="title" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Contents:</label>
                            <textarea class="form-control" id="contents" required></textarea>
                        </div>
                        <input type="submit" id="requiredBtn" style="visibility: hidden;" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeBtn">Close</button>
                    <button type="button" class="btn btn-primary" id="saveBtn">Write</button>
                    <button type="button" class="btn btn-primary" id="deleteBtn" style="display: none">Delete</button>
                </div>
            </div>
        </div>
    </div>
</script>
