<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <!-- Load just-handlebar-helpers -->
    <script src="https://unpkg.com/just-handlebars-helpers@1.0.16/dist/h.min.js"></script>
    <script type="text/javascript"> // Register just-handlebars-helpers with handlebars
        H.registerHelpers(Handlebars);
    </script>
    {{#block "header"}}{{/block}}
</head>
<body>
<div>
    <div class="m-5">
        {{#block "content"}}{{/block}}
    </div>
</div>
{{#block "js"}}{{/block}}
</body>
</html>
