{{#partial "header"}}
    <title>Main Page</title>
{{/partial}}

<!--body-->
{{#partial "contents"}}
    <h1>이곳은 게시판입니다.</h1>
    <div id="tableSpace"></div>
    <div id="pageMarkerSpace"></div>
    <button onclick='location.href="/freeboard01"' class='btn btn-primary'>메인으로 이동하기</button>
{{/partial}}
<!--body-->

<!--js-->
{{#partial "js"}}
    {{> template/table}}
    {{> template/pageMarker}}
    <script>
        var page = {
            startPage : 1,
            endPage: 5,
            totalPages: 5
        }

        window.onload = () => {
            apiRequest(attachBoard);
            var template = Handlebars.compile($("#pageMarker").html());
            $("#pageMarkerSpace").html(template(page));
        }

        var apiRequest = (callback = null) => {
            $.ajax({
                method : 'GET',
                url : 'api/boards'
            }).done(function (response) {
                if(typeof callback != 'undefined'){
                    callback(response);
                }
            })
        }

        var attachBoard = (response) => {
            var data = { contents : response }
            var template = Handlebars.compile($("#tableList").html());
            if(typeof data === 'undefined') {
                $("#tableSpace").html(template());
            }else{
                $("#tableSpace").html(template(data));
            }
        }
    </script>
    {{#block "helper"}}{{/block}}
{{/partial}}
<!--js-->
{{> static/helper/helper}}
{{> layout/layout}}



