{{#partial "header"}}
    <title>Main Page</title>
{{/partial}}

<!--body-->
{{#partial "contents"}}
    <h1>이곳은 게시판입니다.</h1>
    <div id="tableSpace"></div>
    <div id="pageMarkerSpace"></div>
    <div id="writeModalSpace"></div>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#boardModal" data-whatever="@mdo">Open modal for @mdo</button>
    <button onclick='location.href="/freeboard01"' class='btn btn-primary'>메인으로 이동하기</button>
{{/partial}}
<!--body-->

<!--js-->
{{#partial "js"}}
    {{> template/table}}
    {{> template/pageMarker}}
    {{> template/modal}}
    <script>
        let nowBoardList = new Object();
        let nowBoardIndex = 0;
        const WRITE = "Write";
        const MODIFY = "Modify";

        window.onload = () => {
            apiRequest(attachBoard);
            var template = Handlebars.compile($("#writeModal").html());
            $("#writeModalSpace").html(template());
            $("#writeModal").find('#deleteBtn').css('display', 'none');
        }

        var apiRequest = (callback = null, page = 1) => {
            const SIZE = 10;
            $.ajax({
                method : 'GET',
                url : 'api/boards?page='+page+"&size="+SIZE
            }).done(function (response) {
                nowBoardList = response.contents;
                if(typeof callback != 'undefined'){
                    callback(response);
                }
            })
        }

        var attachBoard = (response) => {
            if(typeof response != 'undefined') {
                var template = Handlebars.compile($("#tableList").html());
                $("#tableSpace").html(template(response));
                var template = Handlebars.compile($("#pageMarker").html());
                $("#pageMarkerSpace").html(template(response));
            }
        }

        var pageConvert = (page) => {
            apiRequest(attachBoard, page);
        }

        var fetchDetails = (index) => {
            nowBoardIndex = index;
            var $modal = $('#boardModal');
            $modal.find('#user').val(nowBoardList[index].user);
            $modal.find('#title').val(nowBoardList[index].title);
            $modal.find('#contents').val(nowBoardList[index].contents);
            $modal.find('#password').val("");
            $modal.find('#saveBtn').text(MODIFY);

            $modal.find('#user').attr('disabled', true);
            $modal.find('#deleteBtn').css('display', 'block');

            $('#boardModal').modal("show");
        }

        $(document).on('show.bs.modal', '#boardModal', function (event) { // 모달 열릴 때 이벤트

        })

        $(document).on('hidden.bs.modal', '#boardModal', function () { // 모달 닫힐 때 이벤트
            var $modal = $('#boardModal');
            $modal.find('#user').val("");
            $modal.find('#title').val("");
            $modal.find('#contents').val("");
            $modal.find('#password').val("");
            $modal.find('#saveBtn').text(WRITE);

            $modal.find('#user').attr('disabled', false);
            $modal.find('#deleteBtn').css('display', 'none');
        })

        $(document).on('click', '#deleteBtn', function() {
            var password = $('#boardModal').find('#password').val();
            $.ajax({
                method : 'DELETE',
                url : 'api/boards/'+nowBoardList[nowBoardIndex].id+'?password='+password
            }).done(function (response) {
                if(typeof response != 'undefined'){
                    if(response == true) {
                        $('#boardModal').modal("hide"); //닫기
                    } else {
                        alert(" 비밀 번호가 틀렸습니다. ");
                    }
                }
            })
        })

        $(document).on('click', '#saveBtn', function() {
            var BoardForm = new Object();
            BoardForm.user = $('#user').val();
            BoardForm.title = $('#title').val();
            BoardForm.contents = $('#contents').val();
            BoardForm.password = $('#password').val();

            var method, url ;
            if($('#saveBtn').text() === WRITE){
                method = 'POST';
                url = 'api/boards';
            }else{
                method = 'PUT';
                url = 'api/boards/'+nowBoardList[nowBoardIndex].id;
            }

            $.ajax({
                method : method,
                url : url,
                contentType: 'application/json',
                data : JSON.stringify(BoardForm)
            }).done(function (response) {
                if(typeof response != 'undefined'){
                    $('#boardModal').modal("hide"); //닫기
                }
            })
        })

    </script>
    {{#block "helper"}}{{/block}}
{{/partial}}
<!--js-->
{{> static/helper/helper}}
{{> layout/layout}}



