{{#partial "header"}}
    <title>Main Page</title>
{{/partial}}

<!--body-->
{{#partial "contents"}}
    <h1>어서오세요. 로그인을 해주세요.</h1>
    <form id="loginForm" style="width: 30% !important;">
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id="accountId" required>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Password:</label>
            <input type="password" class="form-control" id="accountPassword" required>
        </div>
    </form>
    <button onclick='login()' class='btn btn-primary'>로그인하기</button>
    <button onclick='location.href="join"' class='btn btn-primary'>가입하기</button>
{{/partial}}
<!--body-->

<!--js-->
{{#partial "js"}}
{{/partial}}
<script>
    var login = () => {
        let account = new Object();
        var $loginForm = $('#loginForm');
        account.accountId = $loginForm.find('#accountId').val();
        account.password = $loginForm.find('#accountPassword').val();

        $.ajax({
            method : 'POST',
            url : 'api/users?type=LOGIN',
            contentType: 'application/json',
            data : JSON.stringify(account)
        }).done(function (response) {
            if(typeof response.message != 'undefined'){
                alert(response.message);
            }else{
                location.href="/freeboard01/board";
            }
        });
    }
</script>
<!--js-->

{{> layout/layout}}
