{{#partial "header"}}
    <title>Main Page</title>
{{/partial}}

<!--body-->
{{#partial "contents"}}
    <h1>회원가입 페이지입니다.</h1>
    <form id="joinForm" style="width: 30% !important;">
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id="accountId" required>
        </div>
        <div class="form-group">
            <label for="recipient-name" class="col-form-label">Password:</label>
            <input type="password" class="form-control" id="accountPassword" required>
        </div>
    </form>
    <button onclick='location.href="/freeboard01/"' class='btn btn-primary'>메인으로 이동</button>
    <button onclick='join()' class='btn btn-primary'>가입하기</button>
{{/partial}}
<!--body-->

<!--js-->
{{#partial "js"}}
    <script>
        var join = () => {
            let account = new Object();
            var $joinForm = $('#joinForm');
            account.accountId = $joinForm.find('#accountId').val();
            account.password = $joinForm.find('#accountPassword').val();

            $.ajax({
                method : 'POST',
                url : 'api/users',
                contentType: 'application/json',
                data : JSON.stringify(account)
            }).done(function (response) {
                if(typeof response.message != 'undefined'){
                    alert(response.message);
                }else{
                    location.href="/freeboard01/";
                }
            });
        }
    </script>
{{/partial}}
<!--js-->

{{> layout/layout}}
